:root
{
  --db-primary: #9e0000;
  --db-secondary: #360000;
  }
  

/* obecné  */

.btn.btn-conversion, a.btn.btn-conversion, .btn.btn-cart, a.btn.btn-cart
{
  border:0;
}

h1, h2, h3, .h1, .h2, .h3
{
color: var(--db-primary);
font-weight: 700;
}

h1, .h1
{
  font-size: 30px;
}

body
{
 font-size: 15px;
}


#content ul li::marker {
  color: var(--db-primary);
}

/* obecné  konec*/


/* detail */

/* detail - doporučujeme */
h2.p-related-head,
.p-related-text
{
  color:black;
}
h2.p-related-head
{
margin-bottom: 1rem;
}


/* detail - breadcrumbs */
.breadcrumbs 
{
  background-color: transparent; 
  border:0;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.breadcrumbs, #navigation-1 a
{
  font-size: 15px;
  text-transform: none;
  font-weight: bold;
  color: #6c6c6c;
}

.breadcrumbs, #navigation-2
{
  font-weight: normal;
}

/* detail - cena */
.price-final-wrapper
{
display: flex;
flex-direction: row;
align-items:baseline;
column-gap: 40px;
}

.type-product .price-additional, .type-product .price-measure
{
font-size: 14px;
color: #373737;
}

.shipping-options
{
  font-size: 12px;
}

.type-product .availability-value
.type-product h1,
.type-product .stars-info-wrapper,
.type-product .p-info-wrapper .availability-value,
.type-product  .p-info-wrapper .detail-parameters
{ 
  /*  resent nastavení */ 
  margin-top:0;
  margin-bottom:0;
}

.type-product .detail-contact-button
{
  margin-top: 10px;
  background-color: transparent !important;
}

.type-product .availability-value
{
margin-top: 20px !important;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
color:#2f9607;
}

.type-product .detail-parameters
{
  color: var(--db-primary);
}

.type-product .quantity
{
display: none;
}

.stars-label /* hvězdíčky */
{
line-height: 17px;  
}

.stars, 
#rate-form .stars /* hodnocení dole*/
{
  width: 130px;
  height:22px;
}

.stars a, .stars span
{
width: 20px;  
height: 18px;
margin-right:3px;
}

.stars.stars a::before, .stars.stars span::before
{
font-size: 20px !important;
line-height: 20px;
}


.type-product .p-final-price-wrapper
{
  margin-top: 25px !important;  
}


.type-product  p[data-testid="productCardDescr"] {
  display: none !important;
}

.type-product .btn.add-to-cart-button
{
  background-color: var(--db-primary);
    border-radius: 5px;
    height: 58px;
    font-size: 18px;
    font-weight: normal;
}

.type-product .btn.add-to-cart-button::before
{
  content: url(kosik.svg);
  width: 30px;
  margin-right:20px;
  vertical-align:middle;
  display:inline-block ;
  filter: invert(100%);
}

.social-buttons-wrapper
{
  background-color: white !important;
  margin-top: 0;
  justify-content:end;
  }

  .p-info-wrapper
  {
    padding: 0;
  }
.p-info-wrapper-bg
{
  padding: 20px;
background-color: #f8f8f8;
}

.p-code
{
  display: flex;
  align-items: center;
  column-gap:2px;

}

.stars-pinfo-wrapper
{
display: flex; 
column-gap:  25px;
margin-bottom: 12px;

}

/* sidebar  */

 .sidebar,.filter-sections /*možná not mobil */
{
  /* background-color: transparent; */
 font-size: 12px;
 margin-top:20px;
}




.sidebar
{
margin:0;
}

.filter-count,.sidebar
{
  background-color: transparent;  
}

.sidebar .slider-wrapper,
.sidebar .banner-wrapper,
.filter-section
{
  padding-left:15px;
  padding-right:15px;
}

.sidebar-inner
{
  padding-left: 0;
  padding-right: 0;
}


.sidebar
{
font-size: 153px;
 margin-top:20px;
}



/* .db-az
{
  padding-left:9px;
} */

.from,.to
{
  background-color: white;
  
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 1em;
  padding-right: 1em;
  width:105px;
  font-size: 12px;
      border-style: solid;
    border-width: 1px;
    border-color: #b9b9b9;
    border-radius: 3px;
    background-color: #ffffff;

}
.to 
  {
    margin-right: 1em;
  }
  
.ui-slider-horizontal .ui-slider-handle::after
{
width:8px;
height:8px;
left: 4px;
top: 4px;
}  

.ui-slider-horizontal .ui-slider-handle::after,
.ui-slider-handle
{
  background-color: #590000;
  
}

.ui-slider .ui-slider-range,.ui-slider-horizontal,
.ui-slider, .slider-content
{
  background-color: var(--db-primary);
}

.slider-content
{
  padding-right: 7px;

}

.slider-content,.ui-slider-horizontal
{
  height: 4px;
}

.slider-header
{
  position: relative;
  top:23px;
}
.slider-content
{
  position: relative;
 top:-30px;
}


.ui-slider-horizontal .ui-slider-handle
{
width:18px;
height:18px;
}



    .sidebar h4, .sidebar .h4
    {
      font-weight: bold;
      text-transform: unset;
      font-size: 18px;
      color: black;
    }





    .sidebar,.filter-sections
{
  /* background-color: transparent; */
 font-size: 13px;
}

.filter-count
{
    color: #959595;
font-weight: normal;
}

.filter-count::before
{
  content:  "(";
}

.filter-count::after
{
  content:  ")";
}


.filters-wrapper
{
background-color: #f8f8f8;
}


.sidebar-inner>div,#category-filter-hover .filter-section:first-child
{
  border: 0;
}

/* sidebar - konec*/





 /* hlavička */

 @media (min-width: 768px)
 {


  /* horní kontakty */
  
    .top-navigation-bar /* smaž horní kontakty */
  {
    border: 0;
  }

  .top-navigation-bar-menu li::before
  
  {
 content: none;

}










  .top-navigation-bar .top-navigation-contacts
  {
    display: none !important;
  }

/* horní menu */


 .top-navigation-bar a, .top-navigation-bar .dropdown button {
  color:#5d5d5d;
  font-weight: bold;
  text-transform: none;
  font-size: 14px;

}

.top-navigation-bar-menu li a, .top-navigation-bar-menu-helper li a
{
  padding: 0px 10px;
}

.top-navigation-bar .container>div
{
  flex-grow: 1;
  flex-basis: content;
}

.top-navigation-bar .container > div:last-child, .top-navigation-bar .container>div:first-child
 {
  flex-basis: 100px;
 }

  


/* 
  .top-navigation-bar-menu, .top-navigation-bar-menu-helper
{
  flex-grow: 1;  
} */

  /* vyhledávání  */
  .compact-form .btn
  {
    top:8px;
    line-height: normal;
    height: 20px;
    padding: 0px 10px 0px 10px;
  }

  #header .js-search-input {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(123, 123, 123);
        border-radius: 14px;
        background-color: rgb(255, 255, 255);

    
      } 

      
      #formSearchForm .search-input
      {
        background-image: url(search.png);
        
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 38px;

      }


    #header .search button {
      background-color: transparent;
      color: #777777;
      font-size: 14px;
      font-weight: bold;
      /* line-height: 1.2; */
      text-transform: unset;
      border:0;
      border-left: 1px solid;
     
            }  

/*  navigace */
#navigation
{
  height: 48px;
}

  .navigation-in>ul>li
      {
        border: 0;
      }

      .navigation-in
      {
        background-color: var(--db-primary);
        font-weight: bold;
        font-size: 17px;
        line-height:30px;
      }

        .fitted .navigation-in ul
        {
          justify-content: space-around;
        }

        /* logo*/
        

        .sticky-mobile:not(.ordering-process) #header .site-name img
        {
          max-height: 55px;
        }

        .sticky-mobile:not(.ordering-process)  #header .site-name
        {
          margin-top: 5px;
          height: 80px;
        }
        
        .header-top .site-name-wrapper
        {
           flex-basis: 300px !important;
        }
        
        
        


        .st-big-logo #header .site-name
        {
          height: 100px;  
        }
        
        
        .st-big-logo #header .site-name a img
      {
        height: 100px;
        max-height:100px;
      }

      /* přihlášení */
      .navigation-buttons
      {
        margin-left: 60px !important;
        flex-basis:auto !important;
      }
      
      
      .navigation-buttons>a:not(.cart-count)
      {
        display: block;
      }
     
      .navigation-buttons a[data-target="login"]
      {
        background-color: transparent;
        color: black;
        font-size:16px;
        font-weight: bold;
        margin-right: 25px;

        }
      
      
      
      
        .navigation-buttons>a:not(.cart-count)
        {
          width: auto;
          height: 52px;
        }

        .navigation-buttons>a[data-target="login"]::before
        {
          
          content: url(uzivatel.svg);
          width: 30px;
          margin-right:20px;
          vertical-align:middle;
          display:inline-block
        }
        .navigation-buttons a[data-target="login"]:hover
        {
          background-color: transparent;
          color: var(--db-primary);
        }
    
    
    
    /* hlavička - konec */
    
        /* patička */

        .footer-rows .site-name a img
        {
          display: none;
        }

        /*konkurenčí výhody*/
        .benefitBanner__item 
        {
          flex-direction: column;
          padding-bottom: 40px;         
          border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
        }


        #footer .conteiner-max-width,
        #footer .conteiner-max-width2
        {
          width:auto;
          margin: auto;
          background-color: var(--db-primary);
        }
        #footer .conteiner-max-width2
        {
          background-color: var(--db-secondary);
        }


        #footer .footer-bottom
        {
          height: 70px;
          background-color: var(--db-secondary);
          color:white;
        }

        #footer .footer-rows
        {
          background-color: var(--db-primary);
          
        }

        #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6
        {
          text-transform: none;
          font-weight: bold;
        }

        #footer h4
        {
        font-size: 17px;
          
        }


        #footer .contact-box a, #footer .password-helper a, #footer .news-item-widget a, #footer ul a,
        #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6,
        .contact-box ul li>span::before,#signature a,
        .benefitBanner__content
        {
          color:white;
        }
        .custom-footer, .footer-bottom, .footer-links-icons
        {
          border: 0;
        }
        

    /* patička  konec */
    
    
    /* kategorie */


/* kategorie  - konec*/
      }

    @media (min-width: 992px)
    {
      /* přihlášení pop-up */
        .popup-widget.login-widget {
          top: 90px;
      }

      .header-top .search {
        
        flex-basis: 300px !important;
       }
       
       

      
    }
    
    
    @media (min-width: 1200px) {
      .header-top .search {
        
        flex-basis: 400px !important;
       }

       .custom-footer
       {
        padding-top: 10px;
       }
  }


@media (min-width: 1440px)
{
      /* přihlášení pop-up */

      .header-top .search {
        
        flex-basis: 570px !important;
         
         
       }

      .popup-widget {
    margin-left: 10px;
}


}


    /* navigace - košík*/

.navigation-buttons a[data-target="cart"]
{
  color: black;
  font-weight: bold;
}

.btn.cart-count::before, a.btn.cart-count::before {
          content: url(kosik.svg);
        }


/* content    */

.homepage-box
{
  border:0;
  background-color:transparent;
}


/* mobilní zobrazení */

/* hlavička */

@media (max-width: 767px) {


  #header .site-name img /* loho */
  {
    padding-bottom:0 !important;
    max-width: 145px !important;
    margin-top: 10px !important;
  }
  


  /* .responsive-tools>a[data-target="search"]
{
visibility: hidden;
} */

.responsive-tools>a[data-target="navigation"]::before
{
  color:black;
  background-color: transparent;
}



.responsive-tools>a[data-target="navigation"]::before
{
border-radius: unset;
font-size:150%;
}

.responsive-tools>a::before
{
  width: 40px;
  line-height: 40px;
}

#header .site-name img
{
  padding-bottom:0 !important;
  max-width: 145px !important;
  margin-top: 10px !important;
}

/* navigace*/




#navigation
{
  background-color: transparent !important; 
}

.navigation-in
{
  background-color: var(--db-primary);
  margin-top:60px;
}

.navigation-close
{
  background-color: var(--db-primary);  
  height: 60px;
}

.navigation-in>ul>li
{
  border-color: rgba(207, 207, 207, 0.37) !important;
}


.navigation-in a
{
  color: white !important;
}

.navigation-close::before
{
  color: white;
}

.navigation-in>ul>li>a>b
{
  font-weight: normal !important;
}

/* mobilní zobrazení  - konec*/


#navigation li a[data-testid="signin"]::before
{

  content: url(uzivatel.svg);
  fill: white;
  width: 20px;
  margin-right:15px;
  vertical-align:middle;
  display:inline-block;
  filter: invert(100%);

 
}



}


/* pouze desktop*/

@media (min-width: 1281px) { 

  .type-product .btn.add-to-cart-button 
  {
    min-width: 344px;
  }
  
  .type-product .p-detail-info
  {
    margin-top:20px;
  }

}
